    
    
    {% if inv_host_var == "DEV" %}
<html>
<body>
<h1>Hello I'm {{  inventory_hostname }} and I'm in the {{ inv_host_var }}</h1>
 <picture>
  <p style="text-align:center;"><img src="{{ ws_image }}" alt="{{ ws_image }}" style="width:auto;">
</picture>
<br>
<center>The image should be {{ ws_image }}. </center><br>

<center><h1>I have a special message for you: </h1></center><br>

{{ ws_special_message }}

</html>
</body> 
    {% endif %}

    {% if inv_host_var == "QA" %}
<html>
<body>
<h1>Hello I'm {{  inventory_hostname }} and I'm in the {{ inv_host_var }}</h1>
 <picture>
  <p style="text-align:center;"><img src="{{ ws_image }}" alt="{{ ws_image }}" style="width:auto;">
</picture> 
<br>
<center>The image should be {{ ws_image }}.</center><br>

<center><h1>I have a special message for you: </h1></center><br>

{{ ws_special_message }}

</html>
</body> 
    {% endif %}

    {% if inv_host_var == "PROD" %}
<html>
<body>
<h1>Hello I'm {{  inventory_hostname }} and I'm in the {{ inv_host_var }}</h1>
 <picture>
  <p style="text-align:center;"><img src="{{ ws_image }}" alt="{{ ws_image }}" style="width:auto;">
</picture> 
<br>
<center>The image should be {{ ws_image }}.</center><br>

<center><h1>I have a special message for you: </h1></center><br>

{{ ws_special_message }}

</html>
</body> 
    {% endif %}
